body {
  padding-top: 50px;
  background-image: url('draft.png');
}

td, th {
  padding-left: 5px;
  padding-right: 5px;
}

.td-index, .th-index {
  padding: 5px 10px;
}

td.nocount {
    color: #666666;
    font-style: italic;
}

tr.total-pop-row {
    background-color: #cccccc;
    font-weight: bold;
}

tr.country-subhead {
    background-color: #cccccc;
    font-weight: bold;
}

tr.country-total {
    background-color: #eeeeee;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: orange;
    color: white;
}

.link-api:hover .tooltiptext {
    visibility: visible;
}

.view-area, .view-structure {
    display: inline;
    background-color: white;
    border: none;
    color: green;
    font-size: small;
    font-weight: bold;
}

.button-cancel {
    background-color: lightgrey;
    color: black;
}

.button-save {
    background-color: seagreen;
    color: white;
}

.button-change {
    background-color: mediumseagreen;
    color: white;
}
.view-area:focus, .view-structure:focus {
    outline: 0;
}

.link-api {
    font-family: monospace;
}

.supplementary {
    font-style: italic;
    background-color: rgb(240,240,240);
}
.supplementary a {
    color: purple;
}

.declarations {
    border: 1px solid lightgrey;
    background: rgb(240,240,240);
    margin-bottom: 20px;
    padding: 15px;
}

.dec-summary {
    font-size: 14pt;
}

.object-view {
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 20px 0px;
    overflow: auto;
    background-color: white;
}

.parent-tree {
    border: 1px solid lightgrey;
    background: rgb(240,240,240);
    margin-bottom: 20px;
    padding: 15px;
}

.level_indent {
    display: inline-block;
    width: 20px;
}

.areas {
    border: 1px solid lightgrey;
    background: white;
    padding: 15px 10px;
    margin: 20px 0px;
}

.areas table {
    width: 100%;
}

.areas th {
    text-align: right;
}

.areas th:first-child {
    text-align: left;
}

.declared-row {
    background-color: #ddecff;
}

.countries tr:nth-child(odd) {
    background-color: #d7dde7;
}

/* ADMIN VIEW */
.admin-corner {
    float: right;
    max-width: 350px;
    text-align: right;
    font-size: 10pt;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.admin-view {
    border: 1px dotted orange;
    background-color: papayawhip;
    padding: 10px;
    margin-top: 10px;
}

.declaration-options  {
    display: inline;
    font-size: small;
}

.delete-link {
    color: orange;
    font-size: small;
    display: inline;
}

.delete-link a {
    color: orange;
}

.edit-country a, .edit-area a, .edit-structure a, .edit-dec a, .bulk-edit a {
    color: orange;
}

.edit-structure {
    font-size: small;
    padding-left: 20px;
    display: none;
}

.edit-country {
    font-size: small;
}

.edit-area {
    font-size: small;
    padding-left: 20px;
    display: none;
}
.popcount-status {
    background-color: orange;
    padding: 5px;
    margin-top: 5px;
}
.popcount-running {
    font-style: italic;
}
.popcount-status a {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.bulk-edit {
    font-size: small;
    float: right;
    text-align: right;
}
.bulk-edit-extra {
    font-size: small;
    float: right;
    /*visibility: hidden;*/
}
#bulk-edit-select-all, #bulk-edit-select-none {
    display: none;
}
.bulk-edit-item {
    visibility: hidden;
}
.bulk-edit-go {
    visibility: hidden;
    float: right;
}
.bulk-edit-table {
    border: 1px solid grey;
    padding: 20px;
}
.bulk-meta-form {
    padding: 10px;
    width: 60%;
    background: aliceblue;
}
.select-highlight {
    background-color: peachpuff;
}
.hover-highlight {
    background-color: papayawhip;
}
div.bulk-edit-table select {
    font-size: small;
}

.inbox-paste textarea {
    width: 100%;
    resize: vertical;
    min-height: 50px;
    padding: 15px;
}

.inbox-list, .inbox-switch {
    width: 100%;
    height: 150px;
    resize: vertical;
    overflow-y: scroll;
    padding: 0px 10px;
    border: 1px solid lightgrey;
    margin: 20px 0px;
    background-color: white;
}

.inbox-list table {
    width: 100%;
}

.inbox-list tr {
    text-align: right;
}

.inbox-list td:first-child {
    text-align: left;
}

.inbox-create {
    margin: 5px 0px;
}

.inbox-heading {
    display: flex;
}

.inbox-heading > * {
    vertical-align: middle;
}

#selected-inbox-item {
    background: #dadada;
}

/* FORMS */
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table.form-table td, table.form-table th{
    padding: 5px;
    vertical-align: top;
}

.errorlist {
    background-color: pink;
}

input[type="number"] {
    -moz-appearance: textfield;
}

textarea#id_description_short {
    width: 350px;
    height: 50px;
}

input[type='text'] {
    width: 350px;
}

.paste-text {
    display: none;
}

select[multiple] {
    resize: both;
}
