{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% block heading %}
{% if action == "add" %}
<h3>Add an {{ structure_name }} Area under {{ parent.name }}</h3>
{% else %}
<h3>{{ area.name }}</h3>
<p><b>Type:</b> {{ area.structure.name }}</p>
{% endif %}
{% endblock %}

<div class='parent-tree'>
    {% for parent in parents_list reversed %}
    <div>
        {% with ''|center:parent.indent_level as range %}
        {% for _ in range %}
        <span class='level_indent'></span>
        {% endfor %}
        {% endwith %}
        &#8866;({{ parent.structure.name }}) {{ parent.name }}
    </div>
    {% endfor %}
    {% if action != "add" %}
    <div>
        {% with ''|center:area.level as range %}
        {% for _ in range %}
        <span class='level_indent'></span>
        {% endfor %}
        {% endwith %}
        &#8866; {{ area.num_children }} children
        {% if area.num_supplementary_children %}
        ({{ area.num_supplementary_children }} supplementary)
        {% endif %}
    </div>
    {% endif %}
</div>

{% if action %}

<form method='POST' action='
    {% block formaction %}
    {% if action == 'add' %}
    {% url 'area_child' parent.id structure_id %}'
    {% else %}
    {% url 'area_edit' area.id %}'
    {% endif %}
    {% endblock %}
    '>
    {% csrf_token %}
    <p><b>Country:</b> <a href='{% url 'country' country.id %}'>{{ country.name }}</a></p>
    <table class='form-table'>
        {{ form.as_table }}
        {% include 'govtrack/links.html' %}
        {{ linkform.as_table }}
    </table>
    {% block formextra %}{% endblock %}
    <input type='submit' name='save' value='save' class='button-save'>
    <input type='submit' name='cancel' value='cancel' class='button-cancel' formnovalidate>
</form>

{% include 'govtrack/inbox-list.html' %}

{% else %}
{% block view %}

<div class='object-view'>
    {% if user.is_authenticated %}
    <div class='admin-corner'>
        <div class='edit-area' style="display: block;">
            <div>
                <a href='{% url 'area_edit' area.id %}'>edit</a> |
                <a class='dec-from-inbox' data-url='{% url 'api_import_declaration_dec' area.id 0 %}'>declare from inbox</a>
            </div>
            <div><span class='link-api'><a href='{{ area_api_link }}'>API link<span class='tooltiptext'>right click to copy link</span></a></span></div>
            <div><a href="{% url 'inbox' country.id %}">go to inbox</a></div>
            {% if import_declaration_list %}
            <div><a class='toggle-inbox'>hide inbox</a></div>
            {% endif %}
            <div style='text-align: left'>
                {% for ctype in area.sub_types %}
                <a name='#{{area.id}}{{ ctype.id}}'></a>
                <li><a href='{% url 'area_child' area.id ctype.id  %}'>add {{ ctype.name }}</a></li>
                {% endfor %}
            </div>
            {% include 'govtrack/popcount-controls.html' %}
        </div>
        {% if user.is_authenticated and area.admin_notes %}
        <div class='admin-view'>
            <b>Admin Notes</b>
            <p>{{ area.admin_notes }}</p>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <p><b>Country:</b> <a href='{% url 'country' country.id %}'>{{ country.name }}</a></p>
    <p><b>Location:</b> {{ area.location|default_if_none:'' }}</p>
    <p><b>Population:</b> {{ area.population | intcomma }}</p>
    <p class='description'><b>Description:</b> {{ area.description | default_if_none:'' }}</p>
    <p><b>Agglomeration:</b> {{ area.agglomeration }}</p>
    <p><b>Supplementary Parents:</b> {{ area.supplement_list }}</p>
    {% include 'govtrack/links.html' %}
</div>

{% if user.is_authenticated and import_declaration_list %}
<h4 class='inbox-heading'>The Inbox</h4>
{% include 'govtrack/inbox-list.html' %}
{% endif %}

<div class='declarations'>
    <h4>Declarations</h4>
    <ul>
        {% for dec in area.declarations %}
        <li id='declaration-{{dec.id}}'>
            {{ dec }}
            <div class='declaration-options'><a href='{% url 'declaration' dec.id %}'>details</a>
                {% if user.is_authenticated %}
                <div class='edit-dec' style="display: inline"><a href='{% url 'declaration_edit' dec.id %}'>edit</a>
                    {% with view='api_declaration_del' object=dec %}
                    {% include 'govtrack/delete.html' %}
                    {% endwith %}
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li><a class='edit-dec' href='{% url 'declaration_add' area.id  %}'>add declaration</a></li>
        {% endif %}
    </ul>
</div>

{% if area.id != area.parent.id %}
<br>
<p class='bottom-nav'>
    {% for parent in area.direct_ancestors %}
    {% if forloop.first %}
    {{ area.name }} -&gt; 
    {% else %}
    <a href='{% url 'area' parent.id %}'>{{ parent.name }}</a>
    {% if not forloop.last %} -&gt; {% endif %}
    {% endif %}
    {% endfor %}
</p>
{% endif %}

{% if area.num_all_children %}
<div class='areas'>
    {% if user.is_authenticated %}
    <div class='bulk-edit'>
	 <a id='bulk-edit-show' href='#'>bulk edit</a>
	 <a id='bulk-edit-hide' href='#' style='display: none'>hide</a>
    	<br>
        <span class='bulk-edit-extra'>
            <a id='bulk-edit-select-all' href='#'>select all</a>
        </span>
        <span class='bulk-edit-extra'>
            <a id='bulk-edit-select-none' href='#'>select none</a>
        </span>
    </div>
    {% endif %}
    <form class='bulk-edit-form' action='{% url 'bulkarea_edit' area.id %}' method='post'>
    {% csrf_token %}
    <p><b>Children:</b></p>
    <table> 
        {% for area in areas_list %}
	<tr class='{% if area.is_declared %}declared-row{% endif %} {% if area.is_supplementary %}supplementary{% endif %}'>
            <td>
                {% with ''|center:area.indent_level as range %}
                {% for _ in range %}
                <span class='level_indent'></span>
                {% endfor %}
                {% endwith %}
                <span id='area-{{ area.id }}'>
                    &#8866;({{ area.structure.name }}) <a class='link-area' href='{% url 'area' area.id %}'>{{ area.name }}</a>
                {% if area.is_supplementary %}
                </span>
                {% else %}
                    {% if user.is_authenticated %}
                    &nbsp;<button class='view-area' id='viewarea-{{ area.id }}'>*</button>
                    <div id='editarea-{{ area.id }}' class='edit-area'>
                    <a href='{% url 'area_edit' area.id %}'>edit</a>
                    {% if area.level > 1 %}
                    |
                    {% with view='api_area_del' object=area %}
                    {% include 'govtrack/delete.html' %}
                    {% endwith %}
                    {% endif %}
                    |
                    <a class='dec-from-inbox' data-url='{% url 'api_import_declaration_dec' area.id 0 %}'>declare from inbox</a>
                    {% include 'govtrack/add-area.html' %}
                    </div>
                    {% endif %}
                {% endif %}
            </td>
	    <td><input type='checkbox' class='bulk-edit-item' name='bulk-areas' value='{{ area.id }}'></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <input name='edit' type='submit' class='bulk-edit-go button-save' value='edit'>
    <span class='bulk-edit-go' style='width: 30px;'>&nbsp;</span>
    <input name='delete' type='submit' class='bulk-edit-go button-save' id='bulk_delete_button' value='delete'>
    <br>
    </form>
</div>
{% endif %}


{% endblock %}
{% endif %}

{% endblock %}
