{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% block heading %}
{% if action == "add" %}
<h3>Add an {{ structure_name }} Area under {{ parent.name }}</h3>
{% else %}
<h3>{{ record.name }}</h3>
<p><b>Type:</b> {{ record.structure.name }}</p>
{% endif %}
{% endblock %}

<div class='parent-tree'>
{% for parent in parents_list %}
    <div class='level_{{ parent.level }}'>&#8866;({{ parent.structure.name }}) {{ parent.name }}</div>
{% endfor %}
{% if action != "add" %}
    <div class='level_{{ record.level|add:"1" }}'>&#8866; {{ record.num_children }} children
    {% if record.num_supplementary_children %}
    ({{ record.num_supplementary_children }} supplementary)
    {% endif %}
    </div>
{% endif %}
</div>

{% if action %}

<form method='POST' action='
{% block formaction %}
    {% if action == "add" %}
    {% url 'area_child' parent.id structure_id %}'
    {% else %}
    {% url 'area_edit' record.id %}'
    {% endif %}
{% endblock %}
    '>
{% csrf_token %}
<table class='form-table'>
{{ form.as_table }}
{% include 'govtrack/links.html' %}
{{ linkform.as_table }}
</table>
{% block formextra %}{% endblock %}
<input type='submit' value='save' class='button-save'>
</form>

{% else %}

{% block view %}
<div class='object-view'>
{% if user.is_authenticated %}
  <div class='admin-corner'>
    <div class='edit-area' style="display: block;">
    {% block adminoptions %}
      <a href='{% url 'area_edit' record.id %}'>edit</a>
      {% if record.level > 1 %}
      | <a href='{% url 'area_del' record.id %}'>delete</a>
      {% endif %}
    {% endblock %}
    <div style='text-align: left'>
      {% for ctype in record.sub_types %}
        <a name='#{{record.id}}{{ ctype.id}}'></a>
        <li><a href='{% url 'area_child' record.id ctype.id  %}'>add {{ ctype.name }}</a></li>
      {% endfor %}
    </div>
    </div>
    {% if user.is_authenticated and record.admin_notes %}
     <div class='admin-view'>
     <b>Admin Notes</b>
     <p>{{ record.admin_notes }}</p>
     </div>
    {% endif %}
  </div>
{% endif %}
<p><b>Country:</b> <a href='{% url 'country' country.id %}'>{{ country.name }}</a></p>
<p><b>Location:</b> {{ record.location }}</p>
<p><b>Population:</b> {{ record.population | intcomma }}</p>
<p class='description'><b>Description:</b> {{ record.description|default_if_none:'' }}</p>
{% include 'govtrack/links.html' %}


{% if record.num_all_children %}
<p><b>Children:</b></p>
<table>
{% for record in records_list %}
    <tr>
    <td>
    {% if record.is_supplementary %}
    <div class='supplementary'>
    {% endif %}
    <div class='level_{{ record.level }}' id='area-{{ record.id }}'>&#8866;({{ record.structure.name }})  <a class='link-area' href='{% url 'area' record.id %}'>{{ record.name }}</a>
    {% if record.is_supplementary %}
    </div>
    {% endif %}
    {% if not record.is_supplementary and user.is_authenticated %}
      &nbsp;<button class='view-area' id='viewarea-{{ record.id }}'>*</button>
      <div id='editarea-{{ record.id }}' class='edit-area'>
      <a href='{% url 'area_edit' record.id %}'>edit</a>
      {% if record.level > 1 %}
        |
        {% with view="area_del" object=record %}
        {% include 'govtrack/delete.html' %}
        {% endwith %}
      {% endif %}
      <br>
    {% include 'govtrack/add-area.html' %}
      </div>
    {% endif %}
    </div>
    </td>
    </tr>
{% endfor %}
</table>
<br/>
{% endif %}



</div>
<br>
<div class='declarations'>
<h4>Declarations</h4>
<ul>
{% for dec in record.declarations %}
<li id='declaration-{{dec.id}}'>{{ dec}}
    <div class='declaration-options'><a href='{% url 'declaration' dec.id %}'>details</a>
    {% if user.is_authenticated %}
    <div class='edit-dec' style="display: inline"><a href='{% url 'declaration_edit' dec.id %}'>edit</a>
    {% with view='declaration_del' object=dec %}
        {% include 'govtrack/delete.html' %}
    {% endwith %}
    {% endif %}
</li>
{% endfor %}
{% if user.is_authenticated %}
    <li><a class='edit-dec' href='{% url 'declaration_add' record.id  %}'>add declaration</a>
{% endif %}
</ul>
<br>
</div>

{% endblock %}

{% endif %}

<br><br>
<a href='{% url 'country' country.id %}' class='button-cancel'>back to {{ country.name }}</a>

{% endblock %}
