{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% block heading %}
<h4>Bulk edit selected child areas of {{area.name}}</h4>
<br>
{% endblock %}

{% if user.is_authenticated %}

  <form action='{% url 'bulkarea_save' area.id %}' method='POST'>
  <div class='panel bulk-meta-form'>
    <fieldset>
	    {{ form.location.label_tag }}<br>
        {{ form.location }}
        <input type='button' class='button-change' id='button_set_location' value='set'>
        <input type='button' class='button-change' id='button_clear_location' value='clear'>
        <input type='hidden' id='clear_location' name='clear_location' value='false'>
    </fieldset>
    <br>
    <fieldset>
	    {{ form.link.label_tag }}<br>
        {{ form.link }}
        <input type='button' class='button-change' id='button_set_link' value='set'>
        <input type='button' class='button-change' id='button_undo_link' value='undo'>
        <input type='hidden' id='do_set_link' name='do_set_link' value='false'>
    </fieldset>
    <br>
    <fieldset>
        {{ form.supplements_add.label_tag }}<br>
        {{ form.supplements_add }}
        <input type='button' class='button-change' id='button_add_supplements' value='add'>
        <input type='hidden' id='supp_list_add' name='supp_list_add' value=''>
    </fieldset>
    <fieldset>
        {{ form.supplements_rm.label_tag }}<br>
        {{ form.supplements_rm }}
        <input type='button' class='button-change' id='button_remove_supplements' value='remove'>
        <input type='hidden' id='supp_list_rm' name='supp_list_rm' value=''>
    </fieldset>
  </div>
  <br>
  <div class='bulk-edit-table'>
  {% csrf_token %}
  <table class='table-responsive'>
  <tr>
    <th>Area</th>
    <th>Location</th>
    <th>Link</th>
    <th>Supplementary parents</th>
    </tr>
  <input type='hidden' name='area_id_str' value='{{ area_id_str}}'>
  {% for a in area_list %}
  <tr>
      <td><a class='link-area' href='{% url 'area' a.id %}'>{{ a.name }}</a></td>
      <td><div class='area_location' id='area_{{ a.id}}_loc'>{{ a.location }}</div></td>
      <td class='bulk_area_text'><div class='area_link' id='area_{{ a.id}}_link' data-toggle='tooltip'></div></td>
      <td class='bulk_area_text'><div class='area_supp' id='area_{{ a.id}}_supp' data-toggle='tooltip'>{{ a.supplements }}</div></td>
  </tr>
  {% endfor %}
  </table>
  </div>
  <br>
    <input type='submit' name='save' value='save' class='button-save'>
    <input type='submit' name='cancel' value='cancel' class='button-cancel' formnovalidate>
  </form>
{% endif %}



{% endblock %}
