{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% block heading %}
<h4>Bulk edit selected child areas of {{area.name}}</h4>
<br>
{% endblock %}

{% if user.is_authenticated %}

  <form action='{% url 'bulkarea_save' area.id %}' method='POST'>
  <div class='bulk-meta-form'>
    <fieldset>
	    {{ form.location.label_tag }}<br>
        {{ form.location }}
        <input type='button' class='button-save' name='apply_location' value='set'>	
        <input type='button' class='button-save' name='clear_location' value='clear'>	
    </fieldset>
    <br>
    <fieldset>
        {{ form.supplements.label_tag }}<br>
        {{ form.supplements }}
        <input type='button' class='button-save' id='apply_supplements' value='add'>	
        <input type='button' class='button-save' id='clear_supplements' value='clear'>	
    </fieldset>
  </div>
  <br>
  <div class='bulk-edit-table'>
  {% csrf_token %}
  <table>
  <tr><th>Area</th><th>Location</th><th>Supplementary parents</th></tr>
  <input type='hidden' name='area_id_str' value='{{ area_id_str}}'>
  {% for a in area_list %}
  <tr>
	  <!--<td>{{ f.name }} {{ f.country }} {{ f.structure }} {{ f.name.value }}</td>
	  <td>{{ f.id }}</td>
	  <td>{{ f.location.value }}</td>
	  <td>{% for s in f.supplements.value %}{{ s }}{% endfor %}</td>-->
      <td>{{ a.name }}</td>
      <td>{{ a.location }}</td>
      <td>{% for s in a.supplements %}{{ s.name }}{% endfor %}</td>
  </tr>
  {% endfor %}
  </table>
  </div>
  <br>
  {{ formset.management_form }}
    <input type='submit' name='save' value='save' class='button-save'>
    <input type='submit' name='cancel' value='cancel' class='button-cancel' formnovalidate>
  </form>
{% endif %}



{% endblock %}
