{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% block heading %}
<h4>Bulk {{ action }} selected child areas of {{area.name}}</h4>
<br>
{% endblock %}

{% if user.is_authenticated %}
{% if action == 'move' %}
  <form action='{% url 'bulkarea_move' area.id %}' method='POST'>
  {% csrf_token %}
  <input type='hidden' name='area_id_str' value='{{ area_id_str}}'>
<div class='panel parent-tree'>
    <table>
    {% for struct in structure_list %}
    <tr>
    <td class='structure-row'>
    <div id='structure-{{ struct.id }}'>
        {% with ''|center:struct.indent_level as range %}
        {% for _ in range %}
        <span class='level_indent'></span>
        {% endfor %}
        {% endwith %}
        &#8866; {{ struct.name }} ({{ struct.num_areas }})
    </td>
    </tr>
    {% endfor %}
    </table>
    </div>
      <script>
        const moveParentDataSameStruct = {{ new_parent_data_same_struct|safe }};
        const moveParentDataAllStructs = {{ new_parent_data_all_structs|safe }};
        window.numChildLevels = {{ child_levels }};
        </script>
    <div class='row'>
      <div class='col-sm'>
        {% if same_structure %}
        <div id='move-area-form' class='panel move-form move-form-active'>
      <div>
	    <input type='radio' name='movetype' value='area' id='do-move-area'>
	    Move areas to a new parent, keeping all structures the same: <br/>
      </div>
      <br/>
      <div id='move_area_controls'>
      <hr />
      </div>
      <script>
        const moveAreaContainer = document.querySelector('#move_area_controls');
        ReactDOM.render(e(MoveAreas), moveAreaContainer);
      </script>
        </div>
        {% else %}
        <div class='bulk-move-warning'>Because the areas to be moved are of different structure types, it is not possible to move them under a single new parent and keep child structures the same.</div>
        {% endif %}
      </div>
      <div class='col-sm'>
        {% if enable_multi_move %}
        <div id='move-structure-form' class='panel move-form
            {% if same_structure %}move-form-inactive{% else %}move-form-active{% endif %}'><div>
	    <input type='radio' name='movetype' value='structure' id='do-move-struct'>
        Move areas to a new parent with different structures: <br/>
      </div>
      <br/>
      <div id='move_structure_controls'>
      <hr />
      </div>
      <script>
        const moveStructureContainer = document.querySelector('#move_structure_controls');
        ReactDOM.render(e(MoveStructures), moveStructureContainer);
      </script>
        </div>
        {% endif %}
      </div>
    </div>
    <div class='panel'>
    <table id='move-table'>
      <thead>
       <tr>
         <th>From parent</th>
         <th>From structure</th>
         <th>Area</th>
         <th>To parent</th>
         <th>To structure</th>
       </tr>
     <tbody>
  {% for a in area_list %}
  <tr>
      <td>{{ a.parent_name }}</td>
      <td><div class='from-dest-structure-1' data-id='{{ a.structure.id }}'>{{ a.structure.name }}</div></td>
      <td><a class='link-area' href='{% url 'area' a.id %}'>{{ a.name }}</a></td>
      <td><div class='show-dest-parent-1'></div></td>
      <td><div data-id='' class='show-dest-structure-1'></div></td>
  </tr>
      {% for d in a.descendants %}
  <tr>
      <td></td>
      <td></td>
      <td>
        {% with ''|center:d.rel_level as range %}
            {% for _ in range %}    
            <span class='level_indent_micro'></span>
            {% endfor %}    
            {% endwith %}
        <i>({{ d.structure.name }}) {{ d.name }}</i>
      </td>
      <td><div class='child-destination show-dest-parent-{{ d.rel_level }}'></div></td>
      <td><div data-id='' class='show-dest-structure-{{ d.rel_level }} child-destination'></div></td>
      <td><div class='child-from-structure from-dest-structure-{{ d.rel_level }}' data-id='{{ d.structure.id }}'></div></td>
  </tr>
      {% endfor %}
  {% endfor %}
     </tbody>
  </table>
  <br>
    {% if same_structure or enable_multi_move %}
    <input type='submit' name='move' value='move' class='button-save'>
    {% endif %}
    <input type='submit' name='cancel' value='cancel' class='button-cancel' formnovalidate>
</div>
{% elif action == 'edit' %}
  <form action='{% url 'bulkarea_save' area.id %}' method='POST'>
  {% csrf_token %}

  <div class='panel bulk-meta-form'>
    <div class='card'>
    <button class='btn' type='button' data-toggle='collapse' data-target='#fieldset_location' aria-expanded="false" aria-controls="fieldset_location">Location</button>
    </div>
    <fieldset class='collapse' id='fieldset_location'>
    <div class='card-body'>
	    {{ form.location.label_tag }}<br>
        {{ form.location }}
        <input type='button' class='button-change' id='button_set_location' value='set'>
        <input type='button' class='button-change' id='button_clear_location' value='clear'>
        <input type='hidden' id='clear_location' name='clear_location' value='false'>
    </div>
    </fieldset>
    <br>
    <div class='card'>
    <button class='btn' type='button' data-toggle='collapse' data-target='#fieldset_link' aria-expanded="false" aria-controls="fieldset_link">Link</button>
    </div>
    <fieldset class='collapse' id='fieldset_link'>
    <div class='card-body'>
	    {{ form.link.label_tag }}<br>
        {{ form.link }}
        <input type='button' class='button-change' id='button_set_link' value='set'>
        <input type='button' class='button-change' id='button_undo_link' value='undo'>
        <input type='hidden' id='do_set_link' name='do_set_link' value='false'>
    </div>
    </fieldset>
    <br>
    <div class='card'>
    <button class='btn' type='button' data-toggle='collapse' data-target='#fieldset_add_supp' aria-expanded="false" aria-controls="fieldset_add_supp">Add Supplementary Parents</button>
    </div>
    <fieldset class='collapse' id='fieldset_add_supp'>
    <div class='card-body'>
        {{ form.supplements_add.label_tag }}<br>
        {{ form.supplements_add }}
        <input type='button' class='button-change' id='button_add_supplements' value='add'>
        <input type='hidden' id='supp_list_add' name='supp_list_add' value=''>
    </div>
    </fieldset>
    <br>
    <div class='card'>
    <button class='btn' type='button' data-toggle='collapse' data-target='#fieldset_rm_supp' aria-expanded="false" aria-controls="fieldset_rm_supp">Remove Supplementary Parents</button>
    </div>
    <fieldset class='collapse' id='fieldset_rm_supp'>
    <div class='card-body'>
        {{ form.supplements_rm.label_tag }}<br>
        {{ form.supplements_rm }}
        <input type='button' class='button-change' id='button_remove_supplements' value='remove'>
        <input type='hidden' id='supp_list_rm' name='supp_list_rm' value=''>
    </div>
    </fieldset>
  </div>
  <br>
  <div class='bulk-edit-table'>
  <table class='table-responsive'>
  <tr>
    <th>Area</th>
    <th>Location</th>
    <th>Link</th>
    <th>Supplementary parents</th>
    </tr>
  <input type='hidden' name='area_id_str' value='{{ area_id_str}}'>
  {% for a in area_list %}
  <tr>
      <td><a class='link-area' href='{% url 'area' a.id %}'>{{ a.name }}</a></td>
      <td><div class='area_location' id='area_{{ a.id}}_loc'>{{ a.location }}</div></td>
      <td class='bulk_area_text'><div class='area_link' id='area_{{ a.id}}_link' data-toggle='tooltip'></div></td>
      <td class='bulk_area_text'><div class='area_supp' id='area_{{ a.id}}_supp' data-toggle='tooltip'>{{ a.supplements }}</div></td>
  </tr>
  {% endfor %}
  </table>
  </div>
  <br>
    <input type='submit' name='save' value='save' class='button-save'>
    <input type='submit' name='cancel' value='cancel' class='button-cancel' formnovalidate>
{% endif %}
  </form>
{% endif %}



{% endblock %}
