{% extends "govtrack/base.html" %}

{% load humanize %}

{% block title %}Countries{% endblock %}

{% block content %}
{% if country_list %}
    <table>
      <tr>
        <th>Country</th>
        <th align='right'>Population</th>
        <th align='right'>Declared<br/>Population</th>
        <th align='right'>Structures</th>
        <th align='right'>Records</th>
        <th align='right'>Declarations</th>
      </tr>
    {% for country in country_list %}
        <tr>
        <td><a href="{% url 'country' country.id %}">{{ country.name }}</a></td>
        <td align='right'>{{ country.population | intcomma }}</td>
        <td align='right'>{{ country.area_population | intcomma }}</td>
        <td align='right'>{% if country.num_structures > 1%}{{ country.num_structures }}{% endif %}</td>
        <td align='right'>{% if country.num_areas > 1 %}{{ country.num_areas }}{% endif %}</td>
        <td align='right'>{% if country.num_declarations %}{{ country.num_declarations }}{% endif %}</td>
        </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No countries found.</p>
{% endif %}
{% endblock %}
