{% extends "govtrack/base.html" %}

{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% if action == 'edit' %}
<form method='POST' action='{% url 'country_edit' country.id %}'>
{% csrf_token %}
<table class='form-table'>
{{ form.as_table }}
{% include 'govtrack/links.html' %}
{{ linkform.as_table }}
</table>
<input type='submit' value='save' class='button-save'>
<br>
{% else %}
<div class='object-view'>
    {% if user.is_authenticated %}
        <div id='editcountry-{{ country.id }}' class='edit-country'>
        <a href='{% url 'country_edit' country.id %}'>edit</a>
        </div>
    {% endif %}
    <p>Population: {{ country.population | intcomma }}</p>
    <p>Region: {{ country.region }}</p>
    {% include 'govtrack/links.html' %}
</div>
<br>

<div class='parent-tree'>
{% for struct in structure_list %}
    <div class='level_{{ struct.level }}' id='nodetype-{{ struct.id }}'>&#8866; {{ struct.name }} ({{ struct.num_records }})
    {% if user.is_authenticated %}
      &nbsp;<button class='view-nodetype' id='viewnodetype-{{ struct.id }}'>*</button>
      <div id='editnodetype-{{ struct.id }}' class='edit-nodetype'>
      <a href='{% url 'nodetype_edit' struct.id %}'>edit</a> | 
      {% if struct.num_records == 0 %}
        {% with view="nodetype_del" object=struct %}
        {% include 'govtrack/delete.html' %}
        {% endwith %}
        |{% endif %}
      <a href='{% url 'nodetype_child' struct.id %}'>add child</a>
      </div>
    {% endif %}
    </div>
{% endfor %}
</div>

<h3>Records</h3>
<table>
  <tr>
    <th></th>
    <th>Declared?</th>
    <th>Population</th>
    <th>Contribution</th>
    <th>Cumulative</th>
  </tr>
{% for record in records_list %}
    <tr>
    <td>
    {% if record.is_supplementary %}
    <div class='supplementary'>
    {% endif %}
    <div class='level_{{ record.level }}' id='node-{{ record.id }}'>&#8866;({{ record.nodetype.name }})  <a class='link-node' href='{% url 'node' record.id %}'>{{ record.name }}</a>
    {% if record.is_supplementary %}
    </div>
    {% endif %}
    {% if not record.is_supplementary and user.is_authenticated %}
      &nbsp;<button class='view-node' id='viewnode-{{ record.id }}'>*</button>
      <div id='editnode-{{ record.id }}' class='edit-node'>
      <a href='{% url 'node_edit' record.id %}'>edit</a>
      {% if record.level > 1 %}
        |
        {% with view="node_del" object=record %}
        {% include 'govtrack/delete.html' %}
        {% endwith %}
      {% endif %}
      <br>
    {% include 'govtrack/add-node.html' %}
      </div>
    {% endif %}
    </div>
    </td>
    <td align='right'>{% if record.is_declared %}Yes{% endif %}</td>
    <td align='right' {% if not record.is_counted %}class='nocount'{% endif%}>
        {{record.population | intcomma}}
    </td>
    <td align='right'>{{record.contribution | intcomma}}</td>
    <td align='right'>{{record.cumulative_pop | intcomma}}</td>
    <!--<td align='right'>d: {{record.descendants | length}}</td>
    <td align='right'>ad: {{record.all_descendants | length}}</td>-->
    </tr>
{% endfor %}
  <tr class='total-pop-row'>
    <td>Total population under declaration:</td>
    <td></td>
    <td align='right'>{{total_declared_population | intcomma}}</td>
    <td></td>
    <td align='right'>{{total_pop_by_contribution | intcomma}}</td>
  </tr>
</table>

{% endif %}
{% endblock %}
