{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ node.country.name }}{% endblock %}

{% block content %}

{% block heading %}
{% if action == "add" %}
<h3>Add a Declaration Event for {{ node.name }}</h3>
{% elif action == "edit" %}
<h3>Edit Declaration Event for {{ node.name }}</h3>
{% else %}
<h3>{{ node.name }}</h3>
<p><b>Type:</b> {{ node.nodetype.name }}</p>
{% endif %}
<!-- load Fengyuan Chen’s Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock %}

{% if action %}

<form method='POST' action='
{% block formaction %}
    {% if action == 'add' %}
    {% url 'declaration_add' node.id %}'
    {% else %}
    {% url 'declaration_edit' declaration.id %}'
    {% endif %}
{% endblock %}
    '>
{% csrf_token %}
<table class='form-table'>
{{ form.as_table }}
{% include 'govtrack/links.html' %}
{{ linkform.as_table }}
</table>
{% block formextra %}
<script>
  $(function () {
    $("#id_event_date").datepicker({
      format:'yyyy-mm-dd',
    });
  });
</script>
{% endblock %}
<input type='submit' value='save' class='button-save'>
</form>

{% else %}

{% block view %}
<p><b>Country:</b> <a href='{% url 'country' node.country.id %}'>{{ node.country.name }}</a></p>
<p><b>Population:</b> {{ node.population | intcomma }}</p>
<p><b>Description:</b> {{ node.comment_public }}</p>
{% include 'govtrack/links.html' %}
{% if user.is_authenticated %}
<p><b>Comments:</b> {{ node.comment_private }}</p>
{% endif %}
{% endblock %}

{% if user.is_authenticated %}
{% endif %}

{% endif %}

<br><br>
<a href='{% url 'node' node.id %}' class='button-cancel'>back to {{ node.name }}</a>

{% endblock %}
