{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ area.country.name }}{% endblock %}

{% block content %}

{% block heading %}
{% if action == "add" %}
<h3>Add a Declaration Event for {{ area.name }}</h3>
{% elif action == "edit" %}
<h3>Edit Declaration Event for {{ area.name }}</h3>
{% else %}
<h3>{{ area.name }}</h3>
{% endif %}
{% endblock %}

{% if action != 'view' %}
<!-- load Fengyuan Chen’s Datepicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
<form method='POST' action='
{% block formaction %}
    {% if action == 'add' %}
    {% url 'declaration_add' area.id %}'
    {% else %}
    {% url 'declaration_edit' declaration.id %}'
    {% endif %}
{% endblock %}
    '>
{% csrf_token %}
<table class='form-table'>
{{ form.as_table }}
{% include 'govtrack/links.html' %}
{{ linkform.as_table }}
</table>
{% block formextra %}
<script>
  $(function () {
    $("#id_event_date").datepicker({
      format:'yyyy-mm-dd',
    });
  });
</script>
{% endblock %}
<input type='submit' value='save' class='button-save'>
</form>

{% else %}

{% block view %}
<p class='dec-summary'>{{ declaration.description_short }}</p>
<p><b>Status:</b> {{ declaration.status_name }} {% if declaration.verified %} (Verified){%endif%}</p>
<p><b>Date:</b> {{ declaration.display_event_date }}</p>
<p><b>Type:</b> {{ declaration.declaration_type }}</p>
<p>{{ declaration.description_long }}</p>
{% include 'govtrack/links.html' %}
{% if user.is_authenticated %}
<p><b>Comments:</b> {{ declaration.admin_notes }}</p>
{% endif %}
{% endblock %}

{% if user.is_authenticated %}
{% endif %}

{% endif %}

<br><br>
<a href='{% url 'area' area.id %}' class='button-cancel'>back to {{ area.name }}</a>

{% endblock %}
