{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}Governments that have declared a Climate Emergency{% endblock %}

{% block content %}
{% if countries %}
    <table>
      <tr>
        <th class='th-index'>Government</th>
        <th class='th-index'>Population</th>
        <th class='th-index'>Date of Declaration</th>
        <!--
        <th class='th-index'>Is counted?</th>
        -->
      </tr>
    {% for country, dlist in countries %}
        <tr class='country-subhead'><th class='th-index' colspan='4'>
            {% if user.is_authenticated %}
            <a href="{% url 'country' country.id %}">{{ country.name }}</a>
            {% else %}
            {{country.name}}
            {% endif %}
        </th></tr>
        {% for dec in dlist %}
        <tr>
        <td class='td-index'>
            <a href="{% url 'area' dec.area.id %}">{{ dec.area.name }}</a>
        </td>
        <td class='td-index' align='right'>
            {{ dec.area.population | intcomma}}
            </td>
        <td class='td-index'>{{ dec.display_event_date }}</td>
        </tr>
        {% endfor %}
        <tr class='country-total'>
          <td class='td-index'>Total: {{ country.num_areas }}</td>
          <td class='td-index' align='right'>{{ country.declared_population | intcomma }}</td>
          <td></td>
        </tr>
    <tr><td>&nbsp;</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No declarations found.</p>
{% endif %}
{% endblock %}
