{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}Governments that have declared a Climate Emergency{% endblock %}

{% block content %}
{% if declaration_list %}
    <table>
      <tr>
        <th class='th-index'>Country</th>
        <th class='th-index'>Government</th>
        <th class='th-index'>Date of Declaration</th>
        <th class='th-index'>Population</th>
        <!--
        <th class='th-index'>Is counted?</th>
        -->
      </tr>
    {% for dec in declaration_list %}
        <tr>
        <td class='td-index'><a href="{% url 'country' dec.node.country_id %}">{{ dec.node.country.name }}</a></td>
        <td class='td-index'><a href="{% url 'node' dec.node.id %}">{{ dec.node.name }}</a></td>
        <td class='td-index'>{{ dec.display_date_declared }}</td>
        <td class='td-index' align='right'>{{ dec.node.population | intcomma}}</td>
        <!--
        <td class='td-index'>{{ dec.is_counted }}</td>
        -->
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No declarations found.</p>
{% endif %}
{% endblock %}
