{% extends "govtrack/base.html" %}
{% load humanize %}

{% block title %}{{ country.name }} ({{ country.country_code }}){% endblock %}

{% block content %}

{% block heading %}
{% if action == "add" %}
<h3>Add a {{ nodetype_name }} Node under {{ parent.name }}</h3>
{% else %}
<h3>{{ record.name }}</h3>
<p><b>Type:</b> {{ record.nodetype.name }}</p>
{% endif %}
{% endblock %}

<div class='parent-tree'>
{% for parent in parents_list %}
    <div class='level_{{ parent.level }}'>&#8866;({{ parent.nodetype.name }}) {{ parent.name }}</div>
{% endfor %}
{% if action != "add" %}
    <div class='level_{{ record.level|add:"1" }}'>&#8866; {{ record.num_children }} children
    {% if record.num_supplementary_children %}
    ({{ record.num_supplementary_children }} supplementary)
    {% endif %}
    </div>
{% endif %}
</div>

{% if action %}

<form method='POST' action='
{% block formaction %}
    {% if action == "add" %}
    {% url 'node_child' parent.id nodetype_id %}'
    {% else %}
    {% url 'node_edit' record.id %}'
    {% endif %}
{% endblock %}
    '>
{% csrf_token %}
{{ form.as_p }} 
{% include 'govtrack/links.html' %}
{{ linkform.as_p }} 
{% block formextra %}{% endblock %}
<input type='submit' value='save' class='button-save'>
</form>

{% else %}

{% block view %}
<div class='object-view'>
<p><b>Country:</b> <a href='{% url 'country' country.id %}'>{{ country.name }}</a></p>
<p><b>Population:</b> {{ record.population | intcomma }}</p>
<p><b>Description:</b> {{ record.comment_public }}</p>
{% include 'govtrack/links.html' %}
{% if user.is_authenticated %}
<p><b>Comments:</b> {{ record.comment_private }}</p>
{% endif %}
{% if user.is_authenticated %}
    <div class='edit-node' style="display: block">
    <b>Node Admin</b><br>
    {% block adminoptions %}
      <a href='{% url 'node_edit' record.id %}'>edit</a>
      {% if record.level > 1 %}
      | <a href='{% url 'node_del' record.id %}'>delete</a>
      {% endif %}
    {% endblock %}
      <br>
    {% include 'govtrack/add-node.html' %}
    </div>
{% endif %}

</div>
{% if record.is_governing %}
<br>
<div class='declarations'>
<h4>Declarations</h4>
<ul>
{% for dec in record.declarations %}
<li id='declaration-{{dec.id}}'>{{ dec}}
    <div class='declaration-options'><a href='{% url 'declaration' dec.id %}'>details</a>
    {% if user.is_authenticated %}
    <div class='edit-dec' style="display: inline"><a href='{% url 'declaration_edit' dec.id %}'>edit</a>
    {% with view='declaration_del' object=dec %}
        {% include 'govtrack/delete.html' %}
    {% endwith %}
    {% endif %}
</li>
{% endfor %}
{% if user.is_authenticated %}
    <li><a href='{% url 'declaration_add' record.id  %}'>add declaration</a>
{% endif %}
</ul>
<br>
</div>
{% endif %}

{% endblock %}

{% endif %}

<br><br>
<a href='{% url 'country' country.id %}' class='button-cancel'>back to {{ country.name }}</a>

{% endblock %}
